{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CcTraders</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link rel="icon" href="{% static 'assets/img/cctradersLogo.svg' %}" type="image/svg+xml">
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    .your-svg-class {
        width: 18%; /* or any specific width for larger screens */
        height: auto; /* or any specific height */
    }

    @media (max-width: 768px) {
        .your-svg-class {
            width: 45%; /* or any specific width for smaller screens */
            height: auto; /* or any specific height */
        }
    }

    body {
            margin: 0;
            padding: 0;
        }

        .text-container {
            background-image: url('{% static "assets/img/cctraders01.svg" %}'); /* Replace 'your-image.jpg' with your actual image file */
            background-size: cover;
            background-position: center;
            color: var(--secondary-color);
            text-align: center;
            padding: 50px;
        }

        p {
            font-size: 16px;
        }
        
</style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="">
        <img src="{% static 'assets/img/cctraders01.svg' %}" width="100" height="100" />
        <!-- <img src="assets/img/cctradersLogo.svg" alt="" class="your-svg-class"> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#values">Values</a></li>
          <li class="dropdown nav-link scrollto"><a href="#services"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="farmer-page.html">Agro Services</a></li>
              <li><a href="logistics-page.html">Logistics</a></li>
              <li><a href="waste-management.html">Waste Management</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

  <!-- Introduction -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" style="color: var(--primary-color)">Bridging the gap between your needs and sustainable solutions.</h1>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/cctraders01.svg' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2 style="color: var(--secondary-color)">
                Welcome to CCTraders, where innovation meets sustainability, and every endeavor is a commitment to a better future. As a multifaceted company, we specialize in waste management services, agricultural solutions, and efficient logistics that seamlessly connect the threads of our operations.
              </h2>
              <p>
                At CCTraders, we envision a Lesotho where responsible business practices drive positive change. Our mission goes beyond commerce; it's about nurturing the environment, uplifting communities, and fostering a resilient agricultural sector.
              </p>
              <!-- <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div> -->
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="https://images.unsplash.com/photo-1524486361537-8ad15938e1a3?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Values</h2>
          <p style="color: var(--secondary-color)">CCTraders' mission in Lesotho's agriculture and logistics sectors</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
              <!-- <img src="https://images.unsplash.com/photo-1557234195-bd9f290f0e4d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid" alt=""> -->
              <!-- https://images.unsplash.com/photo-1557234195-bd9f290f0e4d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D -->
              <h3 style="color: var(--secondary-color)">Innovation</h3>
              <p>Embrace and drive technological innovation to revolutionize agricultural practices and logistics.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
              <h3 style="color: var(--secondary-color)">Empowerment</h3>
              <p>Empower small-scale farmers by providing them with the tools and knowledge to optimize their
                 production and enhance their livelihoods.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="{% static 'assets/img/values-3.png' %}" class="img-fluid" alt="">
              <div>
                <h3>Sustainability</h3>
                <p>Commit to sustainable practices in agriculture and logistics to contribute to the long-term health of the environment and the community.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Features</h2>
          <!-- <p>Laboriosam et omnis fuga quis dolor direda fara</p> -->
        </header>

        <div class="row">

          <div class="col-lg-6 text-center">
            <img src="{% static 'assets/img/sunflower.jpeg' %}" class="img-fluid mx-auto d-block" alt="" width="400" height="50">
          </div>
          

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3 style="color: var(--secondary-color)">Farmer Data Collection</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3 style="color: var(--secondary-color)">Data Analysis</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3 style="color: var(--secondary-color)">Logistics Management</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3 style="color: var(--secondary-color)">Marketplace Integration</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3 style="color: var(--secondary-color)">Educational Resources</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3 style="color: var(--secondary-color)">Waste Management</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

        <!-- Feature Tabs -->
       

    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Services</h2>
          <!-- <p>Veritatis et dolores facere numquam et praesentium</p> -->
        </header>

        <div class="row gy-4">

        {% for service_one in service_ones %}
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>{{ service_one.serviceName }}</h3>
              <p>{{ service_one.servicceDescription }}</p>
              <a href="farmer-page.html" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        {% endfor %}
          

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Logistics Optimization</h3>
              <p>CCTraders takes the hassle out of food distribution with our advanced logistics management system.
                Real-time tracking of transportation vehicles, automated route optimization, and integration with GPS and mapping services ensure that fresh, locally sourced produce reaches retailers efficiently.   
              </p>
              <a href="logistics-page.html" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <i class="ri-discuss-line icon"></i>
              <h3>Waste Management</h3>
              <p>By integrating responsible waste management practices into its operations, CCTraders not only fulfills its environmental and social responsibilities but also contributes to the long-term sustainability and success of its business in Lesotho's agricultural and logistical landscape.</p>
              <a href="waste-management.html" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p style="color: var(--secondary-color)">Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="row gy-4">
                <div class="col-md-6">
                    <div class="info-box">
                        <i class="bi bi-geo-alt"></i>
                        <h3 style="color: var(--secondary-color)">Address</h3>
                        <p>Ha Pita, Pela Abia High School<br>Maseru<br>100</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box">
                        <i class="bi bi-telephone"></i>
                        <h3 style="color: var(--secondary-color)">Call Us</h3>
                        <p>+266 5051 4433<br>+266 6380 1249</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box">
                        <i class="bi bi-envelope"></i>
                        <h3 style="color: var(--secondary-color)">Email Us</h3>
                        <p>info@cctraders.co.ls</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box">
                        <i class="bi bi-clock"></i>
                        <h3 style="color: var(--secondary-color)">Open Hours</h3>
                        <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                    </div>
                </div>
            </div>
          

          <div class="col-lg-6">
            <form action="" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <!-- <img src="assets/img/logo.png" style="color: var(--secondary-color)" alt=""> -->
              <span style="color: var(--secondary-color)">CcTraders</span>
            </a>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p> -->
            <div class="social-links mt-3">
              <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> -->
              <a href="https://www.facebook.com/profile.php?id=61553826763082&mibextid=kFxxJD" class="facebook"><i class="bi bi-facebook"></i></a>
              <!-- <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> -->
              <a href="https://www.linkedin/company/cc-traderslesotho/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4 style="color: var(--secondary-color)">Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#" style="color: var(--secondary-color)">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#main" style="color: var(--secondary-color)">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#services" style="color: var(--secondary-color)">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4 style="color: var(--secondary-color)">Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#services" style="color: var(--secondary-color)">Agro Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#services" style="color: var(--secondary-color)">Logistics</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#services" style="color: var(--secondary-color)">Waste Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#services" style="color: var(--secondary-color)">Sustainable agriculture </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#services" style="color: var(--secondary-color)">Agriculture trade </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#services" style="color: var(--secondary-color)">Agriculture Research and  Development </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#services" style="color: var(--secondary-color)">Rural Development </a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4 style="color: var(--secondary-color)">Contact Us</h4>
            <p>
              Ha Pita, Pela Abia High School<br>
              Maseru 100<br>
              Lesotho <br><br>
              <strong>Phone:</strong> +266 6282 7474<br>
              <strong>Email:</strong> info@cctraders.co.ls<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright" style="color: var(--secondary-color)">
        &copy; Copyright <strong><span>CcTraders (PTY) Ltd</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>